<!DOCTYPE html>
<html>
  <head>
	<img src="http://img.techpowerup.org/111117/the-most-interesting-man-in-the-world-meme-generator-i-don-t-usually-eat-breakfast-but-when-i-do-pizza-0c92e7.jpg" width="100">
	<br>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>


  <body>

	<div id="fb-root"></div>
    <%- body %>


	
	
  </body>
</html>